
*{
  font-family: sans-serif;
}


/* header stuff */
.link{
  margin: 10px;
}

#head{
  display: flex;
  align-items: baseline;
  background-color: teal;
  color: orange;
}

#nav{
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

#header-h1{
  padding-left: 10px;
}

/* contact form */

#contact-form{
  display: flex;
  justify-content: center;
}

#form-content{
  margin: 30px;
  border: 5px solid teal;
}

.mb-3{
  padding: 20px;
}

/* about me page */